.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    border-radius: 20px;
}

.formheader {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    color: black;
}

.loginbutton {
    display: flex;
    align-items: center;
}

.loginbutton button {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.loginbutton button:hover {
    background-color: #6b63fff1;
}

.loginbutton button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.formheader h2::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.inputgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.inputbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.inputbox input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.inputbox input:hover {
    background-color: #eeeeee75;
}

.inputbox input:focus-visible {
    outline: 1px solid #6c63ff;
}

.inputbox label,
.cnpjtitle h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.inputbox input::placeholder {
    color: #000000be;
}

.cnpjgroup {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.cnpjinput {
    display: flex;
    align-items: center;
}

.cnpjinput input {
    margin-right: 0.35rem;
}

.cnpjinput label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.botoes {
    gap: 20px;
    margin: 20px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.continuebutton button {
    width: 100%;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 255);
}

.continuebutton button:hover {
    background-color: #6b63fff1;
    transition: all ease 0.4s;
}

.continuebutton button{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.cancellbutton button {
    width: 100%;
    border: none;
    background-color: #f8d3d3;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid red;
}

.cancellbutton button:hover {
    background-color: #ff7c7cf1;
    transition: all ease 0.4s;
}

.cancellbutton button {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #ff0000;
}

@media screen and (max-width: 1330px) {
    .formimage {
        display: none;
    }
    .container {
        width: 50%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .inputgroup {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .cnpjinputs {
        margin-top: 2rem;
    }
    .cnpjgroup {
        flex-direction: column;
    }
    .cnpjtitle h6 {
        margin: 0;
    }
    .cnpjinput {
        margin-top: 0.5rem;
    }
}