.chart-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 70%;
    margin: auto; 
  }
  
  
  .chart {
    width: 50%; 
  }
  
  .doughnut-chart {
    width: 50%; 
  }
  
  .chart-wrapper {
    width: 100%;
    height: 40vh; 
  }
  