.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  flex-wrap: wrap; 
}

.bar-chart,
.doughnut-chart {
  flex: 1 1 45%; 
  margin-bottom: 20px; 
  margin-top: 20px; 
}

@media screen and (max-width: 1000px) {
  .bar-chart,
  .doughnut-chart {
    flex-basis: 100%; 
  }
}


